.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* display 420 px */

@media screen and (max-width: 420px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  #lezioni{
    background-color: #f2f2cd;
  }

  img{
    max-height: 200px;
  }

  .row{
    max-width: 100%;
    margin-top: 0px;
  }

  #lezioni .row{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #lezioni .row > .right,
  #lezioni .row > .left {
    width: 100%;
  }

  #steps .row{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #steps .row{
    margin-top: 3em;
  }

  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right{
    width: 100%;
    padding-top: 1.5em;
  }

  #why{
    background-color: #f2f2cd;
  }

  #why .row{
    margin-top: 3em;
  }
}


/* display tablet */

@media screen and (min-width: 421px) and (max-width: 768px){  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
  #lezioni{
    background-color: #f2f2cd;
  }

  #lezioni .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
  }

  h1{
    width: 100%;
    padding-top: 1em;
  }

  img{
    max-width: 200px;
    object-fit: contain;
  }

  .row{
    max-width: 100%;
    padding-bottom: 1.5em;
  }
  
  h1{
    width: 100%;
  }
  
  #steps .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0;
  }
  
  #steps .row > .right{
    width: 100%;
  }
  
  hr{
    display: none;
  }
  
  #why{
    background-color: #f2f2cd;
  }

  #why .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }
}
